/dataset/
/training/wandb/
/training/checkpoints/
/training/__pycache__/
/training/trained_models/

/training/data_25m/added_imdb_context_max_abs_scaler/actor_label_encoder.pkl
/training/data_25m/added_imdb_context_max_abs_scaler/directors_label_encoder.pkl
/training/data_25m/added_imdb_context_max_abs_scaler/holiday_label_encoder.pkl
/training/data_25m/added_imdb_context_max_abs_scaler/titleType_label_encoder.pkl
/training/data_25m/added_imdb_context_max_abs_scaler/test_data.npy
/training/data_25m/added_imdb_context_max_abs_scaler/test_target_ratings.npy
/training/data_25m/added_imdb_context_max_abs_scaler/train_data.npy
/training/data_25m/added_imdb_context_max_abs_scaler/train_target_ratings.npy
/training/data_25m/added_imdb_context_max_abs_scaler/val_data.npy
/training/data_25m/added_imdb_context_max_abs_scaler/val_target_ratings.npy

/training/data_1m/movielens_context_max_abs_scaler/1m_movielens_context_scaler.pkl
/training/data_1m/movielens_context_max_abs_scaler/user_gender_label_encoder.pkl
/training/data_1m/movielens_context_max_abs_scaler/holiday_label_encoder.pkl
/training/data_1m/movielens_context_max_abs_scaler/test_data.npy
/training/data_1m/movielens_context_max_abs_scaler/test_target_ratings.npy
/training/data_1m/movielens_context_max_abs_scaler/train_data.npy
/training/data_1m/movielens_context_max_abs_scaler/train_target_ratings.npy
/training/data_1m/movielens_context_max_abs_scaler/val_data.npy
/training/data_1m/movielens_context_max_abs_scaler/val_target_ratings.npy

recommender/data/recsys_movie_titles.csv
recommender/data/recsys_movies_context_data.csv
recommender/data/recsys_ratings_only_userid_movieid.csv

/recommender/.idea/